/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */





/* -----------------------------------------
   Homepage
----------------------------------------- */

h1.centered { text-align: center; margin-bottom: 0; }
h5.centered { text-align: center; }

.show-on-phones h1.centered { font-size: 24px; font-size: 2.4rem; }
.show-on-phones h5.centered { font-size: 12px; font-size: 1.2rem; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #ddd; }



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


