/* 	Artfully masterminded by ZURB  
	
	Make sure to include the app.js if you are going to use inline label inputs 
*/
 
 
/* -----------------------------------------
   Standard Forms
----------------------------------------- */

	form { margin: 0 0 18px; }
	form label { display: block; font-size: 13px; line-height: 1.5em;  cursor: pointer; margin: 1em 0; 
	}
	
	input.input-text, textarea { }
	input.input-text, textarea, select { 
		margin-bottom: 9px;
		font-family: Roboto Slab, "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
		
		color: #666666;
		height: 30px;
		width: 100%;
		padding: 5px 5px 5px 10px;
		border: 1px solid #E5E5E5;
		-webkit-box-shadow: inset 1px 1px 10px rgba(238, 238, 238, 0.9);
		box-shadow: inset 1px 1px 10px rgba(238, 238, 238, 0.9);
		border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px;
	}
	
	label + input.input-text, label + textarea, label + select, label + div.dropdown, select + div.dropdown { margin-top: -9px; }
	
	/* Text input and textarea font and padding */
	input.input-text, textarea { }
	input.input-text.oversize, textarea.oversize { font-size: 18px !important; padding: 4px 5px !important; }
	input.input-text:focus, textarea:focus { border-color: #33abd3; }
	
	/* Inlined Label Style */
	input.placeholder, textarea.placeholder { color: #888; }

	/* Text input and textarea sizes */
	input.input-text, textarea { width: 150px; }
	input.small, textarea.small { width: 40px; }
	input.medium, textarea.medium { width: 254px; }
	input.large, textarea.large { width: 434px; }
	
	/* Fieldsets */
	form fieldset { padding: 9px 9px 2px 9px; border: solid 1px #ddd; margin: 18px 0; }
	
	/* Errors */
	input.input-text.red { border-color: red; background-color: rgba(255,0,0,0.15); }
	label.red { color: red; }
	small.error { margin-top: -6px; display: block; margin-bottom: 9px; font-size: 11px; color: red; width: 260px; }
	
	.small + .error { width: 140px; }
	.medium + .error { width: 260px; }
	.large + .error { width: 440px; }
	
	/* -----------------------------------------
	   Nicer Forms
	----------------------------------------- */
	form.nice input.input-text, form.nice textarea { border: solid 1px #bbb; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
	form.nice input.input-text, form.nice textarea { font-size: 13px; padding: 6px 3px 4px; outline: none !important; background: url(../images/misc/input-bg.png) #fff; }
	form.nice input.input-text:focus, form.nice textarea:focus { background-color: #f9f9f9; }
	
	form.nice fieldset { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
	
	form.nice small.error { padding: 6px 4px; border: solid 0px red; border-width: 0px 1px 1px 1px; margin-top: -10px; background: red; color: #fff; font-size: 12px; font-weight: bold; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomleft: 2px; -moz-border-radius-bottomright: 2px; }
	
	form.nice .small + .error { width: 100px; }
	form.nice .medium + .error { width: 252px; }
	form.nice .large + .error { width: 432px; }	
	
	/* -----------------------------------------
	   Custom Forms
	----------------------------------------- */

	form.custom span.custom { display: inline-block; width: 14px; height: 14px; position: relative; top: 4px; border: solid 3px #ccc; background: url(../images/misc/custom-form-sprites.png) 0 0 no-repeat; }
	form.custom span.custom.radio { border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
	form.custom .radio label, form.custom .checkbox label { display: inline-block; margin-right: 10px;}
	form.custom span.custom.radio.checked { background-position: 0px -14px; }
	form.custom span.custom.checkbox.checked { background-position: 0px -28px; }
	
	form.custom div.custom.dropdown { position: relative; display: inline-block; width: auto; height: 28px; margin-bottom: 9px; }
	form.custom div.custom.dropdown a.current { 
		display: block; 
		width: auto; 
		line-height: 40px; 
		padding: 0 38px 0 10px; 
		border: solid 1px #E5E5E5; 
		background-color: #fff;
		-webkit-box-shadow: inset 1px 1px 10px rgba(238, 238, 238, 0.9);
		box-shadow: inset 1px 1px 10px rgba(238, 238, 238, 0.9);
		border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px;
	}
	form.custom div.custom.dropdown a.selector { position: absolute; width: 26px; height: 26px; display: block; background: url(../images/misc/custom-form-sprites.png) -14px 0 no-repeat; right: 4px; top: 8px; border-left: solid 1px #ddd; }
	form.custom div.custom.dropdown:hover a.selector,
	form.custom div.custom.dropdown.open a.selector { background-position: -14px -26px; }
	
	form.custom div.custom.dropdown ul { position: absolute; width: auto; display: none; margin: 0; left: 0px; top: 40px; margin: 0; padding: 0; background: rgba(255,255,255,0.9); border: solid 1px #ddd; z-index: 10; }
	form.custom div.custom.dropdown ul li { cursor: pointer; padding: 3px 38px 3px 6px; margin: 0; }
	form.custom div.custom.dropdown ul li.selected { background: url(../images/misc/custom-form-sprites.png) right -52px no-repeat; }
	form.custom div.custom.dropdown ul li:hover { background-color: #2a85e8; color: #fff; }
	form.custom div.custom.dropdown ul li.selected:hover { background: url(../images/misc/custom-form-sprites.png) #2a85e8 right -78px no-repeat; }
	form.custom div.custom.dropdown ul.show { display: block; }
	
	form.custom div.custom.dropdown.open ul { display: block; }

	