.js .nav-collapse {
    position: relative;
    max-height: none;
  
}

.nav-collapse.opened {
  max-height: 9999px; 
  margin-bottom: 2em;
}
  #nav-toggle {
    display: none;
  }
  
@media handheld, (max-width: 500em){
  .js .nav-collapse {
	  clip: rect(0 0 0 0);
	  max-height: 0;
	  position: absolute;
	  display: block;
	  overflow: hidden;
	  zoom: 1;
  }
  #nav-toggle {
    display: block;
  }
}



@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse, .nav-collapse ul {
  list-style: none;
  width: 79%;
  float: right;
   
}

.nav-collapse ul {
  width: 100%;
  padding: 3.2em 0 0.4em 2em;
}

@media handheld, (max-width: 500em){
	.nav-collapse, .nav-collapse ul{
		 float: left; 
		 width: 100%;
		 padding: 0;
		 padding: 1em 0 1em 0;
	}
}


.nav-collapse li {
  float: left;
  /*padding: 0 2.3%;*/
  margin:0;
  display: block;
      /*width: 11.4%;
    *width: 11%; /* IE7 Hack */
    _width: 10%; /* IE6 Hack */
}

@media handheld, (max-width: 500em){
  .nav-collapse li {
  	 width: 100%;
  }
}

.nav-collapse a {
    text-align: center;
    border: 0;
    border-bottom: 0;
    border-right: 0;
    float: right; 
    width: 100%;
    padding: 0.7em 0 0.7em;
	color: #fff; 
	text-align: center; 
	/*font-weight: 300; */
	font-size: 1.5rem;
	
	}

@media handheld, (max-width: 500em){
  .nav-collapse a{
	  text-decoration: none;
	  width: 100%;
	  background-image: linear-gradient(to right, white 50%, rgba(0,0,0,0) 0%);
		background-position: bottom;
		background-size: 5px 1px;
		background-repeat: repeat-x;
	  float: left;
	  margin: 1px;
	padding: 1em 0 1em;
  }

}

.nav-collapse a:hover{
	/*text-decoration: underline; 
	 color: #11639d; */
	font-weight: 600;
	
}


.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media handheld, (max-width: 500em){
  .nav-collapse ul ul a {
    display: block;
  }
}

#nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  cursor: pointer;
  width: 55px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/hamburger.gif") no-repeat 50% 50%;
	
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  #nav-toggle {
    background-image: url("../images/hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
	  
  }
}





